# Bibliotecas principais
Flask==2.0.2          # Framework web
requests==2.26.0     # Biblioteca para fazer requisições HTTP

# Para testes
pytest==6.2.5        # Framework de testes
pytest-cov==2.12.1   # Plugin para medir cobertura de testes
